body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.flashcard {
    width: 90%;           
    max-width: 900px;    
    height: 40vh;       
    max-height: 300px;    
    background-color: #2C2C2C;       
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 4px  solid white;
}

.flashcard-text {
    display: flex;       
    gap: 2%;      
    width: 100%;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.flashcard-text textarea {
    width: 45%;           
    height: 280px;          
    padding: 10px;
    font-size: 1rem;     
    border: none;
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa;
    border-radius: 5px;
    resize: none;
    background-color: transparent;  
    color: #fff;
    outline: none;
}


#closeButton {
    background: none;       
    border: none;          
    cursor: pointer;
    padding: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
}

#closeButton i {
    color: red;          
    font-size: 48px;       
}

.flashcard-menu {
  width: 100%;
  height: 100%;
}

.sing-flashcard {
    width: 90%;           
    max-width: 900px;    
    height: 40vh;       
    max-height: 300px;    
    background-color: #2C2C2C;       
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 4px  solid white;
}

.sing-flashcard #F-Question #F-Answer {
    width: 45%;           
    height: 280px;          
    padding: 10px;
    font-size: 1rem;     
    border: none;
    border-bottom: 2px solid #aaa;
    border-top: 2px solid #aaa;
    border-radius: 5px;
    resize: none;
    background-color: transparent;  
    color: #fff;
    outline: none;
}
