body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   
    align-items: center;       
}

.flashcard-container {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 20px;                
}

#flashcard {
    width: 500px;
    height: 300px;
    font-size: 2rem;
    background-color: #2C2C2C;
    color: white;
    border: 4px solid white;
    border-radius: 15px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
}

#flashcard:hover{
    border-color: aquamarine;


}

#buttons {
    display: flex;
    gap: 20px;                 
}

#buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#buttons #correct {
    background-color: #4CAF50; 
    color: white;
}

#buttons #incorrect {
    background-color: #E07A7A;  
    color: white;
}

#counter {
    margin-top: 5px;
    color: white;
    font-size: 2rem;
}
