body {
    font-family: Arial, sans-serif;
    background-color: #1E1E1E;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   
    align-items: center;       
}

.flashcard-container {
    display: flex;
    flex-direction: column;    
    align-items: center;       
    gap: 20px;                
}


#buttons {
    display: flex;
    gap: 20px;                 
}

#buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#buttons #correct {
    background-color: #4CAF50; 
    color: white;
}

#buttons #incorrect {
    background-color: #E07A7A;  
    color: white;
}

#counter {
    margin-top: 5px;
    color: white;
    font-size: 2rem;
}

.flashcard {
  width: 500px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.flashcard.flipped .flashcard-inner {
  transform: rotateY(180deg);
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  border-radius: 15px;
  border: 4px solid white;
  color: white;
}

.flashcard-front {
  background-color: #2C2C2C;
}

.flashcard-back {
  background-color: #2C2C2C;
  transform: rotateY(180deg);
}

.flashcard:not(.flipped):hover .flashcard-front {
  border-color: aquamarine;
}

.flashcard.flipped:hover .flashcard-back {
  border-color: aquamarine;
}


#addCard {
    position: fixed;
    bottom: 20px;
    left: 20px;

    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    background-color: #2C2C2C;
}

#addCard:hover {
    border-color: aquamarine;
}
